* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header a {
    color: darkblue;
    text-decoration: none;
}

header h1 {
    font-weight: bold;
    font-size: 42px;
    background-color: aqua;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 5px 10px 5px 60px;
}

header nav {
    margin-top: 15px;
    margin-right: 50px;
}

.bottom-line {
    margin: 10px;
    border-bottom: 3px solid;
    border-bottom-color: aqua;
    margin: 10px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: aqua;
}

.subtitle-background {
    padding: 100px;
    display: flex;
    background-image: url("../assets/picture/background.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.subtitle {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 26px;
    background-color: aqua;
    color: darkblue;
    position: absolute;
    bottom: 30px;
    right: 90px;
  }